/*Google fonts import*/
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Macondo&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');

/* CSS Variables */
:root {
    --primary-font: "Inter", sans-serif;
    --secondary-font: "Lato", cursive;
    --primary-color: #7e625a;
    /* dark brown */
    --secondary-color: #cda37c;
    /* Medium brown */
    --third-color: #f4dbc8;
    /* light brown */
    --highlight-color: #56701d;
    /* Green */
    --highlight-color-light: #d8e1c7;
    /* light green */
    --bg-review-card: #f0e6c5;
    /* very light sand */
    --contact-header-color: #a47a53;
}

/* Global styles */

body {
    font-family: var(--primary-font);
}

h1,
h2,
h3 {
    font-family: var(--secondary-font);
    color: var(--primary-color);
    font-weight: 400;
}

h1,
h2 {
    text-transform: uppercase;
}

h2 {
    margin-bottom: 2rem;
}

.sub-heading-color {
    color: var(--primary-color);
}

.section {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

/* Navbar */

#navbar {
    position:fixed;
    top:0;
    width:100%;
    z-index: 1000;
    padding: 0;
    margin-bottom: 20px;
    background-color: var(--primary-color);
    --bs-nav-link-hover-color: var(--secondary-color);
    --bs-nav-link-hover-bg: var(--third-color);
    --bs-nav-link-active-color: var(--secondary-color);
    --bs-nav-link-active-bg: var(--third-color);
}

.nav-link {
    font-family: var(--primary-font);
    font-size: 110%;
    color: var(--third-color);
}


#navbar .logo {
    width: 50px;
}

button:hover {
    color: var(--third-color);
}

.nav-item:hover {
    color: var(--secondary-color);
    font-weight: 500;
}

.nav-item .btn.btn-primary.ms-lg-3 {
    font-size: 110%;
    --bs-btn-color: var(--primary-color);
    --bs-btn-bg: var(--third-color);
    --bs-btn-hover-color: var(--third-color);
    --bs-btn-hover-bg: var(--secondary-color);
}


/* Header */

#header {
padding-top: 3.5rem;
}

#header .lead {
    font-family: var(--secondary-font);
}

h2.display-6 {
    font-weight: 400;
}

p.lead.display-6.sub-heading-color {
    font-family: var(--secondary-font);
    font-weight: bold;
    color: var(--secondary-color);
    padding-bottom: 20px;
}

p.lead.display-7.sub-heading-color {
    font-family: var(--secondary-font);
    font-weight: 600;
    color: var(--secondary-color);
    padding-bottom: 0px;
}


/* Home header section */

#img-bcg {
    height: 600px;
    width: 100%;
    background: url("../images/home/img-bcg.jpg") no-repeat center center/cover;
    position: relative;

    opacity: 1;
    animation-name: img-bcg-zoom;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

@keyframes img-bcg-zoom {
    from {
        transform: scale(0.975);
    }

    to {
        transform: scale(1);
    }
}

#cover-text {
    /* Final rgba value sets the opacity so it is semi-transparent */
    background-color: #99161694;
    font-size: 120%;
    position: absolute;
    bottom: 30px;
    width: 80%;
    min-height: 200px;
    padding-top: 40px;
    padding-left: 20px;
}

#cover-text p {
    color:#f3cfb1;
}

/* History */
h1.display-4#h-history {
    font-family: var(--secondary-font);
    font-weight: 400;
    color: var(--highlight-color-light);
}

.img-ch {
    height: 340px;
}

#history .card-footer {
    font-weight: bold;
    color: var(--primary-color);
    background-color: var(--third-color);
}

#history .card {
    margin-bottom: 1.5rem;
    --bs-card-border-color: none;
}

img.card-img-top {
    height: 240px;
    object-fit: cover;
}

#history div.card-body {
    background-color: #fff7f0;
}

#h-video iframe{
    width: 100%;
    height: 325px;
    justify-content: center;
}

/* History ending */



/* Nutritional section */

#nutritional {
    text-align: left;
    background-color: var(--highlight-color-light);
}

#nutritional .card {
    --bs-card-border-color: none;
    margin-bottom: 1.5rem;
    --bs-card-bg: none;
}

/* Variety section */
h1.display-4#h-variety {
    font-weight: 400;
    padding: 5px 0 30px 0;
}

#variety .card {
    margin-bottom: 1.5rem;
    --bs-card-border-color: none;
    --bs-card-bg: var(--highlight-color-light);
}

.btn-primary {
    font-weight: bold;
    font-size: 140%;
    --bs-btn-color: var(--highlight-color);
    --bs-btn-bg: none;
    --bs-btn-border-width: none;
    --bs-btn-hover-color: var(--secondary-color);
    --bs-btn-hover-bg: none;
    --bs-btn-hover-border-color: none;
    --bs-btn-active-bg: none;
    --bs-btn-active-border-color: none;
}

.card.card-body {
    border: none;
}

#v-video iframe{
    width: 100%;
    height: 325px;
    justify-content: center;
}

/*Recipes Page*/
h1.display-4#h-recipes {
    font-weight: 400;
    padding: 5px 0 30px 0;
}


#srecipes .card {
    color: var(--primary-color);
    display: flex;
    margin-bottom: 2rem;
    padding: 20px;
    width: 100%;
    --bs-card-border-color: none;
    --bs-card-bg: #fbe97448;
}

#srecipes hr {
    border: 2px solid var(--secondary-color);
}

#srecipes ::marker {
    color: var(--secondary-color);
}

#srecipes .stars {
    color: #fcb033;
    font-size: 75%;
}

#sa-recipe img {
    height: 375px;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

/*Appetaizer*/

#sa-recipe li {
    color: var(--primary-color);
    font-size: medium;
}

#sa-recipe p.lead.display-7 {
    color: var(--primary-color);
    font-weight: 500;
}

#sa-recipe #etap {
    display: none;
}

#sa-recipe label {
    display: inline-block;
    cursor: pointer;
    color: var(--secondary-color);
    font-weight: 400;
}

#sa-recipe label:hover {
    color: var(--primary-color);
    transition: color 0.3s ease-in-out;
    font-weight: 600;
    font-size: 105%;
}

#sa-recipe .content {
    display: none;
}

#sa-recipe #etap:checked~.content {
    display: block;
}

#sa-recipe #etap:checked~label {
    display: none;
}

#sa-recipe img {
    padding: 0 30px;
    height: 375px;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

#sa-recipe h3.sub-heading-color {
    color: var(--secondary-color);
}

#sa-recipe .card-body {
    margin: 15px auto;
    padding-top: 1.5px;
    justify-content: center;
    background-color: var(--bg-review-card);
    width: 85%;
    min-height: 100px;
    padding: 2px;
    border-radius: 5px;
}

/* Soup */
#ss-recipe li {
    color: var(--primary-color);
    font-size: medium;
}

#ss-recipe p.lead.display-7 {
    color: var(--primary-color);
    font-weight: 500;
}

#ss-recipe #ets {
    display: none;
}

#ss-recipe label {
    display: inline-block;
    cursor: pointer;
    color: var(--secondary-color);
    font-weight: 400;
}

#ss-recipe label:hover {
    color: var(--primary-color);
    transition: color 0.3s ease-in-out;
    font-weight: 600;
    font-size: 105%;
}

#ss-recipe .content {
    display: none;
}

#ss-recipe #ets:checked~.content {
    display: block;
}

#ss-recipe #ets:checked~label {
    display: none;
}

#ss-recipe img {
    padding: 0 30px;
    height: 375px;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

#ss-recipe h3.sub-heading-color {
    color: var(--secondary-color);
}

#ss-recipe .card-body {
    margin: 15px auto;
    padding-top: 1.5px;
    justify-content: center;
    background-color: var(--bg-review-card);
    width: 85%;
    min-height: 100px;
    padding: 2px;
    border-radius: 5px;
}

/* Salad */
#ssa-recipe li {
    color: var(--primary-color);
    font-size: medium;
}

#ssa-recipe p.lead.display-7 {
    color: var(--primary-color);
    font-weight: 500;
}

#ssa-recipe #etsa {
    display: none;
}

#ssa-recipe label {
    display: inline-block;
    cursor: pointer;
    color: var(--secondary-color);
    font-weight: 400;
}

#ssa-recipe label:hover {
    color: var(--primary-color);
    transition: color 0.3s ease-in-out;
    font-weight: 600;
    font-size: 105%;
}

#ssa-recipe .content {
    display: none;
}

#ssa-recipe #etsa:checked~.content {
    display: block;
}

#ssa-recipe #etsa:checked~label {
    display: none;
}

#ssa-recipe img {
    padding: 0 30px;
    height: 375px;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

#ssa-recipe h3.sub-heading-color {
    color: var(--secondary-color);
}

#ssa-recipe .card-body {
    margin: 15px auto;
    padding-top: 1.5px;
    justify-content: center;
    background-color: var(--bg-review-card);
    width: 85%;
    min-height: 100px;
    padding: 2px;
    border-radius: 5px;
}

/* Dinner */

#sd-recipe li {
    color: var(--primary-color);
    font-size: medium;
}

#sd-recipe p.lead.display-7 {
    color: var(--primary-color);
    font-weight: 500;
}

#sd-recipe #etd {
    display: none;
}

#sd-recipe label {
    display: inline-block;
    cursor: pointer;
    color: var(--secondary-color);
    font-weight: 400;
}

#sd-recipe label:hover {
    color: var(--primary-color);
    transition: color 0.3s ease-in-out;
    font-weight: 600;
    font-size: 105%;
}

#sd-recipe .content {
    display: none;
}

#sd-recipe #etd:checked~.content {
    display: block;
}

#sd-recipe #etd:checked~label {
    display: none;
}

#sd-recipe img {
    padding: 0 30px;
    height: 375px;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

#sd-recipe h3.sub-heading-color {
    color: var(--secondary-color);
}

#sd-recipe .card-body {
    margin: 15px auto;
    padding-top: 1.5px;
    justify-content: center;
    background-color: var(--bg-review-card);
    width: 85%;
    min-height: 100px;
    padding: 2px;
    border-radius: 5px;
}

/* Dessert */

#sde-recipe li {
    color: var(--primary-color);
    font-size: medium;
}

#sde-recipe p.lead.display-7 {
    color: var(--primary-color);
    font-weight: 500;
}

#sde-recipe #etde {
    display: none;
}

#sde-recipe label {
    display: inline-block;
    cursor: pointer;
    color: var(--secondary-color);
    font-weight: 400;
}

#sde-recipe label:hover {
    color: var(--primary-color);
    transition: color 0.3s ease-in-out;
    font-weight: 600;
    font-size: 105%;
}

#sde-recipe .content {
    display: none;
}

#sde-recipe #etde:checked~.content {
    display: block;
}

#sde-recipe #etde:checked~label {
    display: none;
}

#sde-recipe img {
    padding: 0 30px;
    height: 375px;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

#sde-recipe h3.sub-heading-color {
    color: var(--secondary-color);
}

#sde-recipe .card-body {
    margin: 15px auto;
    padding-top: 1.5px;
    justify-content: center;
    background-color: var(--bg-review-card);
    width: 85%;
    min-height: 100px;
    padding: 2px;
    border-radius: 5px;
}

/* Drink */

#sdr-recipe li {
    color: var(--primary-color);
    font-size: medium;
}

#sdr-recipe p.lead.display-7 {
    color: var(--primary-color);
    font-weight: 500;
}

#sdr-recipe #etdr {
    display: none;
}

#sdr-recipe label {
    display: inline-block;
    cursor: pointer;
    color: var(--secondary-color);
    font-weight: 400;
}

#sdr-recipe label:hover {
    color: var(--primary-color);
    transition: color 0.3s ease-in-out;
    font-weight: 600;
    font-size: 105%;
}

#sdr-recipe .content {
    display: none;
}

#sdr-recipe #etdr:checked~.content {
    display: block;
}

#sdr-recipe #etdr:checked~label {
    display: none;
}

#sdr-recipe img {
    padding: 0 30px;
    height: 375px;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

#sdr-recipe h3.sub-heading-color {
    color: var(--secondary-color);
}

#sdr-recipe .card-body {
    margin: 15px auto;
    padding-top: 1.5px;
    justify-content: center;
    background-color: var(--bg-review-card);
    width: 85%;
    min-height: 100px;
    padding: 2px;
    border-radius: 5px;
}


/*Contact Section*/
#contact {
    background-color: var(--third-color);
    color: var(--primary-color);
    padding: 1rem 0 1rem 0;
}

#contact strong {
    color: var(--contact-header-color);
}

#contact i {
    color: var(--contact-header-color);
    font-size: 1.2rem;
    margin-right: 15px;
}

#contact address {
    color: var(--primary-color);
}

#contact .display-6 {
    font-weight: bold;
    font-size: 150%;
}

#contact p {
    color: var(--primary-color);
}

#contact .table-dark {
    --bs-table-bg: semi-transparent;
    --bs-table-color: var(--primary-color);
    --bs-table-border-color: var(--primary-color);
    color: var(--bs-table-color);
    border-color: var(--bs-table-border-color);
}

#contact th {
    color: var(--contact-header-color);
    font-size: 110%;
}

/* Booking */
h1.display-4#h-booking {
    font-family: var(--secondary-font);
    font-weight: 400;
}

#booking h3 {
    font-family: var(--secondary-font);
    font-weight: 400;
    color: var(--secondary-color);
}

#booking .fa-calendar {
    display: inline-block;
    color: var(--primary-color);
    font-size: 170%;
    padding: 0;
}

#booking .fa-calendar:hover {
    color: var(--secondary-color);
    transition: color 0.3s ease-in-out;
}


#book-outer {
    width: 100%;
    height: auto;
}

#book-outer h3 {
    font-size: 150%;
    padding: 1%;
}

address {
    text-align: center;
    align-content: center;
}

#address {
    margin: 25px;
}

#booking i {
    padding-right: 15px;
    font-size: 1.2rem;
    color: var(--secondary-color);
}

#booking .btn-primary {
    padding: 1%;
    font-size: 120%;
    font-weight: bold;
    --bs-btn-color: var(--third-color);
    --bs-btn-bg: var(--primary-color);
    --bs-btn-border-width: none;
    --bs-btn-hover-color: var(--primary-color);
    --bs-btn-hover-bg: var(--third-color);
    --bs-btn-hover-border-color: none;
}

#booking .checkbox input {
    padding-right: 1px;
    font-size: 110%;
}

#f-bcg {
    background-color: #efe7db;
    padding: 2%;
    margin: 2%;
    border-radius: 10px;
    color: var(--primary-color);
}

#booking .form-control {
    color: var(--primary-color);
    border: var(--bs-border-width) solid var(--primary-color);
}

#f-r span {
    color: red;
    font-size: smaller;
}

/* Booking Ending*/


/* Google Map*/
.map-container {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.map-container iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}

#map iframe {
    width: 600px;
    height: 450px;
    border: 0;
}

/* Google Map Ending*/


/*success message*/
#success a.btn.btn-primary.mb-5 {
    --bs-btn-color: var(--primary-color);
}

/* Footer */
footer {
    background-color: var(--primary-color);
    padding-bottom: 0;
}

#social-networks {
    text-align: center;
    padding: 25px 50px;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    color: var(--third-color);
    font-size: 170%;
    padding: 0;
}

#social-networks i:hover {
    color: var(--secondary-color);
    transition: color 0.3s ease-in-out;
}


/* grid visualisation CSS for testing */
/*
.container,
.row {
    border: 2px solid black;
}

.col-12 {
    border: 2px solid white;
    background-color: lightgray;
} */

/* Media queries */

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {

    /* Make all service cards the same height for consistency*/
    #history .card-body {
        min-height: 270px;
    }

    #variety .card-body {
        min-height: 250px;
    }

    #h-variety img {
        height: 550px;
    }

    #nu-variety img {
        height: 550px;
    }

    #h-video iframe{
        width: 100%;
        height: 400px;
        justify-content: center;
    }

    #v-video iframe{
        width: 100%;
        height: 400px;
        justify-content: center;
    }

}

    @media screen and (min-width: 992px) {

        /* Make all service cards the same height for consistency*/
        #history .card-body {
            min-height: 200px;
        }

        .img-ch {
            height: 375px;
        }

        #h-video iframe{
            width: 100%;
            height: 550px;
            justify-content: center;
        }

        #v-video iframe{
            width: 100%;
            height: 550px;
            justify-content: center;
        }

        #variety .card-body {
            min-height: 200px;
        }

        #social-networks {
            padding: 25px 100px;
        }

        #h-variety img {
            height: 650px;
        }
    
        #nu-variety img {
            height: 650px;
        }
    }

    @media screen and (min-width: 1200px) {

        /* Make all service cards the same height for consistency*/
        #history .card-body {
            min-height: 275px;
        }

        .img-ch {
            height: 400px;
        }

        #h-video iframe{
            width: 100%;
            height: 500px;
            justify-content: center;
        }


        #v-video iframe{
            width: 100%;
            height: 500px;
            justify-content: center;
        }

        #variety .card-body {
            min-height: 350px;
        }

        #h-variety img{
            height: 600px;
            padding-left: 10px;
        }


        #nu-variety img {
            height: 575px;
            padding-left: 20px;
        }

        #h-recipes img{
            height: 500px;
            padding-left: 100px;
        }

        #social-networks {
            padding: 25px 125px;
        }
    }

    @media screen and (min-width: 1400px) {

        /* Make all service cards the same height for consistency*/
        #history .card-body {
            min-height: 220px;
        }

        .img-ch {
            height: 400px;
        }

        #h-video iframe{
            width: 100%;
            height: 550px;
            justify-content: center;
        }

        #v-video iframe{
            width: 100%;
            height: 550px;
            justify-content: center;
        }

        #variety .card-body {
            min-height: 270px;
        }

        #h-variety img{
            height: 600px;
            padding-left: 30px;
        }

        #nu-variety img {
            height: 600px;
            padding-left: 30px;
        }

        #srecipes .card {
            min-height: 925px;
        }

        #h-recipes img{
            height: 500px;
            padding-left: 100px;
        }

        #social-networks {
            padding: 25px 125px;
        }

    }