/*Google fonts import*/
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Macondo&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');

/* CSS Variables */
:root {
    --primary-font: "Inter", sans-serif;
    --secondary-font: "Lato", cursive;
    --primary-color: #7e625a; /* dark brown */
    --secondary-color: #cda37c; /* Medium brown */
    --third-color: #f4dbc8; /* light brown */
    --highlight-color: #56701d; /* Green */
    --highlight-color-light: #d8e1c7; /* light green */
}

/* Global styles */

body {
    font-family: var(--primary-font);
}

h1,
h2,
h3 {
    font-family: var(--secondary-font);
    color: var(--primary-color);
    font-weight: 400;
}

h1,
h2 {
    text-transform: uppercase;
}

h2 {
    margin-bottom: 2rem;
}

.sub-heading-color {
    color: var(--primary-color);
}

.section{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

/* Navbar */

#navbar {
    background-color: var(--primary-color);
    --bs-nav-link-hover-color: var(--secondary-color);
    --bs-nav-link-hover-bg: var(--third-color);
    --bs-nav-link-active-color: var(--secondary-color);
    --bs-nav-link-active-bg: var(--third-color);
}

.nav-link {
    font-family: var(--primary-font);
    font-size: 150%
    color: var(--third-color);
}



#navbar .logo {
    width: 50px;
}

button:hover {
    color: var (--third-color);
}



/* Header */
#header .lead{
font-family: var(--secondary-font) ;
}

h2.display-6{
    font-weight: 400;
}

p.lead.display-6.sub-heading-color{
    font-family: var(--secondary-font) ;
    font-weight: bold;
    color: var(--secondary-color);
    padding-bottom: 20px;
}

p.lead.display-7.sub-heading-color{
    font-family: var(--secondary-font) ;
    font-weight: 600;
    color: var(--secondary-color);
    padding-bottom: 0px;}

/* Home header section */

#img-bcg {
    height: 700px;
    width: 100%;
    background: url("../images/img-bcg.jpg") no-repeat center center/cover;
    position: relative;

    opacity: 1;
    animation-name: img-bcg-zoom;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

@keyframes img-bcg-zoom {
    from{
        transform: scale(0.975);
    }
    to{
        transform: scale(1);
    }
}

#cover-text {
    /* Final rgba value sets the opacity so it is semi-transparent */
    background-color: rgba(159, 33, 31, 0.59);
    font-size: 120%;
    position: absolute;
    bottom: 30px;
    width: 80%;
    min-height: 200px;
    padding-top: 40px;
    padding-left: 20px;
}

/* History */
h1.display-4#h-history{
    font-family: var(--secondary-font) ;
    font-weight: bold;
    color: var(--highlight-color-light);
}

.img-ch{
    height: 375px;
}

#history .card-footer {
    font-weight:bold;
    color: var(--primary-color);
    background-color: var(--third-color);
}

#history .card {
    margin-bottom: 1.5rem;
    --bs-card-border-color: none;
}

img.card-img-top {
    height: 240px;
    object-fit: cover;
}

/* Nutritional section */

#nutritional {
    text-align: left;
    background-color: var(--highlight-color-light);
}

#nutritional .card {
    --bs-card-border-color: none;
    margin-bottom: 1.5rem;
    --bs-card-bg:none;
}

/* Variety section */
h1.display-4#h-variety{
    font-weight: 400;
    padding: 5px 0 30px 0;
}

#variety .card {
    margin-bottom: 1.5rem;
    --bs-card-border-color: none;
    --bs-card-bg:var(--highlight-color-light);
}

.btn-primary {
    font-weight: bold;
    font-size: 140%;
    --bs-btn-color: var(--highlight-color);
    --bs-btn-bg: none;
    --bs-btn-border-width: none;
    --bs-btn-hover-color: var(--secondary-color);
    --bs-btn-hover-bg: none;
    --bs-btn-hover-border-color: none;
    --bs-btn-active-bg: none;
    --bs-btn-active-border-color: none;
}

.card.card-body{
    border:none;
}

/*Contact Section*/
#contact {
    background-color: var(--third-color);
    color: var(--primary-color);
    padding: 1rem 0 1rem 0;
}

#contact strong {
    color: var(--secondary-color);
}

#contact i {
    color: var(--secondary-color);
    font-size: 1.2rem;
    margin-right: 15px;
}

#contact address {
    color: var(--primary-color);
}

#contact .display-6 {
    font-weight: bold;
    font-size: 150%;
}

#contact p {
    color: var(--primary-color);
}

#contact .table-dark{
    --bs-table-bg: semi-transparent;
    --bs-table-color: var(--primary-color);
    --bs-table-border-color: var(--primary-color);
    color: var(--bs-table-color);
    border-color: var(--bs-table-border-color);
}

#contact th{
    color: var(--secondary-color);
    font-size: 110%;
}

/* Booking */

.fa-calendar{
    display: inline-block;
}

#book-outer{
    width: 100%;
    height: auto;
}

#book-outer h3{
    font-size: 150%;
    padding:1%;
}

address {
    text-align: center;
    align-content: center;
    }

#address{
    margin: 25px;
}
#address i {
    font-size: 160%;
    margin: 1%;
    padding: 1%;
    color: var(--primary-color);
}

.box i{
    font-size: 160%;
    margin: 1%;
    padding: 1%;
    color: var(--primary-color);
}
/* Booking Ending*/


/* Google Map*/
.map-container{
overflow:hidden;
padding-bottom:56.25%;
position:relative;
height:0;
}

.map-container iframe{
left:0;
top:0;
height:100%;
width:100%;
position:absolute;
}

#map iframe{
width:600px;
height:450px;
border:0;
}
/* Google Map Ending*/

/* Footer */
footer {
    background-color: var(--primary-color);
}

#social-networks {
    text-align: center;
    padding: 25px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    color: var(--third-color);
    font-size: 170%;
    padding: 0;
}

#social-networks i:hover {
    color: var(--secondary-color);
    transition: color 0.3s ease-in-out;
}


/* grid visualisation CSS for testing */
/*
.container,
.row {
    border: 2px solid black;
}

.col-12 {
    border: 2px solid white;
    background-color: lightgray;
} */

/* Media queries */

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {
    /* Make all service cards the same height for consistency*/
    #history .card-body {
        min-height: 240px;
    }
    #variety .card-body {
        min-height: 250px;
    }
}

@media screen and (min-width: 992px) {
    /* Make all service cards the same height for consistency*/
    #history .card-body {
        min-height: 200px;
    }
    #variety .card-body {
        min-height: 200px;
    }
}

@media screen and (min-width: 1200px) {
    /* Make all service cards the same height for consistency*/
    #history .card-body {
        min-height: 245px;
    }
    #variety .card-body {
        min-height: 350px;
    }
}

@media screen and (min-width: 1400px) {
    /* Make all service cards the same height for consistency*/
    #history .card-body {
        min-height: 220px;
    }
    #variety .card-body {
        min-height: 270px;
    }
}